<!-- FEATURE -->
<link rel="stylesheet" href="/css/feature.css">
<section id="feature" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h1>What you get</h1>
                   </div>
              </div>

              <div class="col-md-8 col-sm-8">
                   <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab" aria-selected="true">Desktop Applications</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab02" aria-controls="tab02" role="tab" data-toggle="tab" aria-selected="false">Websites</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab" aria-selected="false">Mobile Application</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab04" aria-controls="tab04" role="tab" data-toggle="tab" aria-selected="false">Graphic Design</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab05" aria-controls="tab05" role="tab" data-toggle="tab" aria-selected="false">Data analytics</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab06" aria-controls="tab06" role="tab" data-toggle="tab" aria-selected="false">ML/AI research</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab07" aria-controls="tab07" role="tab" data-toggle="tab" aria-selected="false">Software Testing</a>
                        </li>
                    </ul>
                                             
                   <div class="tab-content">
                        <div class="tab-pane active" id="tab01" role="tabpanel">
                             <div class="tab-pane-item">
                                  <h2>Minimal Design</h2>
                                  <p>Discover the elegance of our desktop applications, where simplicity meets sophistication through minimalist design. Enjoy intuitive interfaces that prioritize clarity, ensuring effortless navigation and enhanced user satisfaction.</p>
                             </div>
                             <div class="tab-pane-item">
                                  <h2>Easy to use</h2>
                                  <p>Our desktop applications are built for effortless usability, offering intuitive interfaces and seamless navigation. With straightforward functionalities and clear instructions, users can accomplish tasks efficiently and enjoy a smooth user experience.</p>
                             </div>
                        </div>


                        <div class="tab-pane" id="tab02" role="tabpanel">
                             <div class="tab-pane-item">
                                  <h2>Compatible Browsers</h2>
                                  <p>Our websites are optimized to work flawlessly across all major browsers, ensuring a consistent user experience for everyone.</p>
                             </div>
                             <div class="tab-pane-item">
                                  <h2>User Friendly</h2>
                                  <p>We prioritize intuitive design and easy navigation, ensuring that visitors can effortlessly find what they need on our websites.</p>
                             </div>
                             <div class="tab-pane-item">
                                  <h2>HTML5 & CSS3</h2>
                                  <p>Leveraging the latest web technologies, our websites feature modern aesthetics and dynamic functionalities for an enhanced user experience.</p>
                             </div>
                        </div>

                        <div class="tab-pane" id="tab03" role="tabpanel">
                             <div class="tab-pane-item">
                                  <h2>Quick Support</h2>
                                  <p>Our mobile applications come with swift and responsive support systems, ensuring prompt assistance for any user queries or issues that may arise.</p>
                             </div>
                             <div class="tab-pane-item">
                                  <h2>Managed Stuffs</h2>
                                  <p>We handle all the technical aspects of mobile app development, allowing you to focus on your core business while we take care of the complexities of app management and maintenance.</p>
                             </div>
                        </div>

                        <div class="tab-pane" id="tab04" role="tabpanel">
                             <div class="tab-pane-item">
                                  <h2>Creative Solutions</h2>
                                  <p>Our graphic design services offer innovative and visually appealing solutions tailored to your brand identity, ensuring your message stands out in a crowded market.</p>
                             </div>
                             <div class="tab-pane-item">
                                  <h2>Efficient Turnaround</h2>
                                  <p>With a focus on efficiency, we deliver high-quality designs within agreed-upon timelines, helping you meet your project deadlines and stay ahead of the competition.</p>
                             </div>
                             <div class="tab-pane-item">
                                  <h2>Collaborative Process</h2>
                                  <p>We involve you in every step of the design process, ensuring your vision is realized while leveraging our expertise to create stunning and effective visual assets.</p>
                             </div>
                        </div>

                        <div class="tab-pane" id="tab05" role="tabpanel">
                             <div class="tab-pane-item">
                                 <h2>Data Analytics Services</h2>
                                 <p>Harness the power of data with our comprehensive data analytics services. From insightful market analysis to precise performance tracking, we provide innovative solutions tailored to your unique business needs. Our team ensures that your data is transformed into actionable insights, empowering informed decision-making and driving sustainable growth.</p>
                             </div>
                             <div class="tab-pane-item">
                                 <h2>Data Analytics Solutions</h2>
                                 <p>Unlock the potential of your data with our cutting-edge data analytics solutions. Through advanced algorithms and sophisticated analysis techniques, we extract valuable insights to fuel your business strategies. From predictive modeling to data visualization, we empower you to make informed decisions and achieve tangible results.</p>
                             </div>
                         </div>
                     
                         <div class="tab-pane" id="tab06" role="tabpanel">
                             <div class="tab-pane-item">
                                 <h2>ML/AI Research and Development</h2>
                                 <p>Explore the frontier of innovation with our ML/AI research and development services. Leveraging cutting-edge technologies and advanced algorithms, we delve deep into the realm of machine learning and artificial intelligence to create transformative solutions. From predictive modeling to natural language processing, we collaborate closely with you to pioneer groundbreaking applications that redefine possibilities and elevate your business to new heights.</p>
                             </div>
                             <div class="tab-pane-item">
                                 <h2>Advanced ML/AI Solutions</h2>
                                 <p>Experience the future of technology with our advanced ML/AI solutions. From personalized recommendations to autonomous systems, we harness the power of machine learning and artificial intelligence to drive innovation and enhance user experiences. With our expertise in algorithm development and model optimization, we empower businesses to stay ahead of the curve and unlock new opportunities in a rapidly evolving digital landscape.</p>
                             </div>
                         </div>

                        <div class="tab-pane" id="tab07" role="tabpanel">
                             <div class="tab-pane-item">
                                  <h2>Thorough Testing</h2>
                                  <p>Our software testing services involve comprehensive examination of your software, ensuring every aspect is rigorously evaluated to identify and resolve any potential issues.</p>
                             </div>
                             <div class="tab-pane-item">
                                  <h2>Detailed Reporting</h2>
                                  <p>We provide detailed reports on testing outcomes, offering clear insights into the performance and quality of your software, empowering informed decision-making and prioritization of improvements.</p>
                             </div>
                             <div class="tab-pane-item">
                                  <h2>Customized Solutions</h2>
                                  <p>Tailoring our approach to your specific needs, we offer flexible testing solutions that align with your project requirements, budget, and timeline, ensuring optimal results for your software.</p>
                             </div>
                        </div>
                   </div>

              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="feature-image">                         
                       <div class="water-flow">
                           <div class="water-flow-effect"></div>
                           <img src="images/tabImages/elegant-desktop-ui.jpg" class="img-responsive" alt="Feature Image" id="feature-image">                             
                       </div>
                   </div>
               </div>
               

         </div>
    </div>
</section>