<!-- FEATURE -->
<link rel="stylesheet" href="/css/feature.css">
<section id="feature" data-stellar-background-ratio="0.5">
     <div class="container">
         <div class="row">
             <div class="col-md-12 col-sm-12">
                 <div class="section-title">
                     <h1>Featured Products & Services</h1>
                 </div>
             </div>
 
             <div class="col-md-8 col-sm-8">
                 <ul class="nav nav-tabs" role="tablist">
                     <li role="presentation" class="active">
                         <a href="#tab01" id="tab01-tab" aria-controls="tab01" role="tab" aria-selected="true" tabindex="0">Product 1</a>
                     </li>
                     <li role="presentation">
                         <a href="#tab02" id="tab02-tab" aria-controls="tab02" role="tab" aria-selected="false" tabindex="1">Product 2</a>
                     </li>
                     <li role="presentation">
                         <a href="#tab03" id="tab03-tab" aria-controls="tab03" role="tab" aria-selected="false" tabindex="2">Service 1</a>
                     </li>
                     <li role="presentation">
                         <a href="#tab04" id="tab04-tab" aria-controls="tab04" role="tab" aria-selected="false" tabindex="3">Service 2</a>
                     </li>
                 </ul>
 
                 <div class="tab-content">
                     <div class="tab-pane active" id="tab01" role="tabpanel" aria-labelledby="tab01-tab">
                         <div class="tab-pane-item">
                             <h2>Product Header 1</h2>
                             <p>Description</p>
                         </div>
                         <div class="tab-pane-item">
                             <h2>Product Header 2</h2>
                             <p>Description</p>
                         </div>
                     </div>
                     <div class="tab-pane" id="tab02" role="tabpanel" aria-labelledby="tab02-tab">
                         <div class="tab-pane-item">
                             <h2>Product Header 1</h2>
                             <p>Description</p>
                         </div>
                         <div class="tab-pane-item">
                             <h2>Product Header 2</h2>
                             <p>Description</p>
                         </div>
                     </div>
                     <div class="tab-pane" id="tab03" role="tabpanel" aria-labelledby="tab03-tab">
                         <div class="tab-pane-item">
                             <h2>Service Header 1</h2>
                             <p>Description</p>
                         </div>
                         <div class="tab-pane-item">
                             <h2>Service Header 2</h2>
                             <p>Description</p>
                         </div>
                     </div>
                     <div class="tab-pane" id="tab04" role="tabpanel" aria-labelledby="tab04-tab">
                         <div class="tab-pane-item">
                             <h2>Service Header 1</h2>
                             <p>Description</p>
                         </div>
                         <div class="tab-pane-item">
                             <h2>Service Header 2</h2>
                             <p>Description</p>
                         </div>
                     </div>
                 </div>
             </div>
 
             <div class="col-md-4 col-sm-4">
                 <div class="feature-image">
                     <div class="water-flow">
                         <div class="water-flow-effect"></div>
                         <img src="images/products/placeholderProducts-1.jpg" class="img-responsive" alt="Feature Image" id="feature-image">
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 
 