<link rel="stylesheet" href="../css/headerStyles.css">
<section id="header" class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="topheader">
        <div class="top-center">
            <div class ="email-phone">
                <img style="width: 15px; height:15px; margin-top:2px;" src = "../images/home-page/pngwing.com (4).png" alt="email-icon" >
                <span >eero@gmail.com</span> 
                            
                <img style="width: 15px; height:15px; margin-top:2px;" src = "../images/home-page/pngegg.png" alt="email-icon" >
                <span>9812345678</span> 
        
            </div>  
            <div class="social-icons">
                <li><a href="https://www.facebook.com/org-fb"  target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://www.twitter.com/org-twitter"  target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/org-insta"  target="_blank"><i class="fab fa-instagram"></i></a></li>
            </div>
        </div>
    </div>

    <div class="bottomheader">
        <div class ="eero">
            <p style = " margin-top: 10px; font-weight: 600; font-size: 30px; font-family:Arial, Helvetica, sans-serif; ">EERO</p>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                 <li><a href="#home" class="smoothScroll" id="homeRedirect">Home</a></li>
                 <li><a href="#feature" class="smoothScroll" id="featureRedirect">Features</a></li>
                 <li><a href="/products" class="smoothScroll" id="productsRedirect">Products</a></li>
                 <li><a href="/services" class="smoothScroll" id="servicesRedirect">Services</a></li>
                 <li><a href="#about" class="smoothScroll" id="aboutRedirect">About us</a></li>
                 <li><a href="#contact" class="smoothScroll" id="contactRedirect">Contact</a></li>
            </ul>
       </div>      
    </div>

    <div class="sticky-header">        
        <div class ="eero">
            <p style = " margin-top: 10px; font-weight: 600; font-size: 30px; font-family:Arial, Helvetica, sans-serif; ">EERO</p>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                 <li><a href="#home" class="smoothScroll" id="homeRedirect">Home</a></li>
                 <li><a href="#feature" class="smoothScroll" id="featureRedirect">Features</a></li>
                 <li><a href="/products" class="smoothScroll" id="productsRedirect">Products</a></li>
                 <li><a href="/services" class="smoothScroll" id="servicesRedirect">Services</a></li>
                 <li><a href="#about" class="smoothScroll" id="aboutRedirect">About us</a></li>
                 <li><a href="#contact" class="smoothScroll" id="contactRedirect">Contact</a></li>
            </ul>
       </div>
    </div>
</section>