/*---------------------------------------
    FEATURE              
-----------------------------------------*/

#feature {
    background: #ffffff;
  }
  
  #feature .nav-tabs {
    border-bottom: 0;
  }
  
  #feature .nav>li>a {
    padding: 8px 0;
  }
  
  #feature .nav-tabs>li>a {
    color: #999999;
    font-size: 18px;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    margin-right: 35px;
  }
  
  #feature .nav-tabs>li.active>a, 
  #feature .nav-tabs>li.active>a:focus, 
  #feature .nav-tabs>li.active>a:hover {
    background: transparent;
    color: #202020;
    border-bottom: 3px solid #29ca8e;
  }
  
  #feature .nav>li>a:focus, 
  #feature .nav>li>a:hover {
    background: transparent;
    border-bottom: 3px solid #29ca8e;
    color: #202020;
  }
  
  #feature .tab-content {
    margin-top: 50px;
  }
  
  .tab-pane-item {
    margin: 20px 0;
  }
  
  .tab-pane-item h2 {
    margin: 0 0 5px 0;
  }
  
  .feature-image {
    position: absolute;
    bottom: -15em;
  }