/*---------------------------------------
    HOME          
-----------------------------------------*/



#home {
    background: url('/images/banners/placeholderServices-1.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
    text-align: center;
  }
  
  #home h1 {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .home-info {
    margin-top: 2em;
  }
  
  .home-info h3 {
    color: #f0f0f0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing:2px;
    text-transform: uppercase;
    font-family:'Garamond','Helvetica', 'Arial', sans-serif;
  }
  
  #home .about-btn button{
    background: transparent; /* Dark background color */
    border-radius: 20px; /* Rounded corners */
    border-style: solid;
    border-color: rgba(255, 127, 80, 0.5); /* Remove default border */
    color: #ffffff; /* White text color */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size for consistency */
    margin: 20px 0;
    padding: 10px 20px; /* Padding inside the button */
    text-transform: uppercase; /* Uppercase text for emphasis */
    transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
  }
  
  #home .about-btn button:hover{
    border-color: rgba(255, 127, 80, 0);
    background: teal; /* Light green background on hover */
    color: #ffffff; /* Maintain white text color */
  }

  .homepage-banner{
    height:600px;
    background-color: rgb(228, 228, 228);
    margin:0px;
    display:flex;
    justify-content: row;


  }

  .writing{
    position: absolute;
    margin-top: 100px;
    left: 20%;
    width: 40%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-direction: column; 
    
  
  }

  .banner-image{
    position: relative;
    
    left: 50%;
    display: flex;
    
    justify-content: center;
    align-items: center;

  }

  .service-dispay{
    position:relative;
    left:20%;
    width: 60%;
    height:auto;
    
  }
 
  .service-title{
    margin-top:-15px;
    display: flex;
    flex-direction: row;
    text-align: center  ;
    justify-content: center;
    gap:12px;
  }
  .service-boxes{
    display: flex;
    flex-direction: row;
    gap:30px;
  }
  .box1{
    width:400px;
    height:350px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  .servicebox-image{
    height:70%;
    border:solid 2px rgba(255, 72, 0, 0.795) ;
  }
  .service-name{
    
    height:40px;
    width:250px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    align-items: center;
    text-align: center;
  }
  
  

  .a{
   
    width: 100%;
    padding-bottom: 20px;
    height: 1000px;
  }
  
  .video-banner {
    background: url('/images/home-page/bg-02.webp') no-repeat center center;
    position: relative; /* Change to relative to keep it in the flow */
    width: 100%;
    height: 500px;
    
    margin-top: 20px; /* Optional: Add margin to create space between sections */
}

.video-banner-box{
  position: relative;
  left: 15%;
  top:30%;
  width: 700px;
  height: 600px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
 
}
.video-title{
  
  display: flex;
  flex-direction: row;
  position: relative;
  top:10%;
  
  gap:12px;
}
.video-textbox{
  position: relative;
  top:50px;
  left: 25%;
}
.video-image1{
  height:100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:45%;
  left:70%;
  
}
.video-image{
  height:100px;
  width: 100px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.footer{
  width:60%;
  justify-content: center;
  border: 1px solid black;
}